body{
	margin: 30px;
	font-family: courier;
	color: rgb(255,255,255);
	background-color: rgb(50,50,100);
}


/* Shows what RGB values are currently on*/
#colorDisplay{
	color: black;
	border-radius: 10px;
	min-height: 50px;
	background-color: white;
}

button{
	position: absolute;
	float: left;
	
	border-radius: 10px;
	margin-top: 10%;
	margin-left: calc(50% - 128px);

	box-shadow: 10px 15px 50px black;
}
